body#index{
    font-family:Microsoft JhengHei;
    div{
       transition: 1s; 
    }
    div.block{
        float:left;
        height:50vh;
        width:50%;
        
        div.title{
            font-size: 48px;
            text-align:center;
            padding-top:20%;
        }
    }
    div.circle{
        @circleRadius: 400px;
        position: absolute;
        width: @circleRadius;
        height: @circleRadius;
        border-radius: @circleRadius;
        z-index: 2;
        top: ~"calc(50% - 200px)";
        left:~"calc(50% - 200px)";
        p{
            line-height: @circleRadius;
            text-align: center;
            font-size:32px;
        }
    }
    div[data-chosen="formula"]{
        img{
            height:5em;
        }
    }
    div.box{
        color:black;
        
    }
    div.whole{
        cursor:pointer;
    }
    div.container img.minus{
        position:absolute;
        right:40px;
        top:10px;
    }
}

body#vibration, body#light, body#temperature, body#noise{
    div.box{
        color:black;
    }
    
}

body#temperature{
    div[data-chosen="formula"]{
        span{
            font-size: 1.5em;
        }
        img{
            height:1.5em;
        }
    }
}




